<!DOCTYPE html>
<html lang="en" class="theme-black">
<head>
    <% include ../partials/head.ejs %>
    <% include ../partials/lozad.ejs %>
    <% include ../partials/notosans.ejs %>
    <% include ../partials/fontawesome.ejs %>
    <% include ../partials/homecss.ejs %>
    <% include ../partials/moment.ejs %>
    <title><%= tabTitle %> » nhentai-mirror</title>
</head>
<body>
    <% include ../partials/navless.ejs %>
    <div id="content">
        <div class="container" id="bigcontainer">
            <div id="cover">
                <a href="/g/<%= bookId %>/1">
                    <img class="lozad" width="350" height="483" data-src="<%= mainThumbnail %>"><noscript><img src="<%= mainThumbnail %>" width="350" height="483" /></noscript>
                </a>
            </div>
        
                <div id="info-block">
                    <div id="info">
                        <h1><%= title %></h1>
                        <h2><%= nativeTitle %></h2>
                        <section id="tags">
                            <% detailkeys.forEach(function(key) { %>
                                <div class="tag-container field-name">
                                    <% if(details[key] != undefined) { %>
                                        <%= key.toProperCase() %>:
                                        <% details[key].forEach(function(tag) { %>
                                            <span class="tags"><a class="tag"><%= tag.tagName %> <span class="count"><%= tag.number %></span></a>
                                        <% }); %>
                                    <% }; %>
                                </div>
                            <% }); %>
                        </section>
                        <div><%= thumbnails.length %> pages</div>
                        <div>Uploaded <time id="datetime" datetime="<%= uploadDate %>"><%= moment(new Date(uploadDate)).fromNow() %></time></div>
                        <script> 
                            var d = new Date($("#datetime")[0].getAttribute("datetime"));
                            setInterval(function(){
                                $("#datetime")[0].innerHTML = moment(d).fromNow();
                            }, 60000)
                        </script>
                    </div>
                </div>
            </div>
        
            <div class="container" id="thumbnail-container">
                <% thumbnails.forEach(function(thumbnail, i) { %>
                    <div class="thumb-container">
                        <a class="gallerythumb" href="/g/<%= bookId %>/<%= i + 1 %>" rel="nofollow">
                            <img class="lozad" width="200" height="276" data-src="<%= thumbnail %>"><noscript><img src="<%= thumbnail %>" width="200" height="276" /></noscript>
                        </a>
                    </div>
                <% }); %>
            </div>

            <div class="container" id="related-container">
                <h2>More Like This</h2>
                <% suggestions.forEach(function(book) { %>
                    <div class="gallery" data-tags="<%= book.datatag %>">
                        <a href="/i/<%= book.bookId %>/" class="cover" style="padding:0 0 <%= book.thumbnailAspectRatio %>% 0">
                            <img class="lozad" data-src="<%= book.thumbnail %>">
                            <div class="caption">
                                    <%= book.title %>
                            </div>
                        </a>
                    </div>
                <% }); %>
            </div>

            <% include ../partials/lozadinit.ejs %>
        </div>
    </div>
</body>
</html>